<h1 mat-dialog-title style="text-align: center;">Edición de Comuna</h1>

<div mat-dialog-content>

    <mat-form-field class="fullWidth">
     <input matInput placeholder="Nombre" [(ngModel)]="comuna.nombre">
    </mat-form-field>

	<mat-form-field style="width: 100% !important;">
		<mat-select placeholder="Provincia" [(ngModel)]="comuna.Provincia_id" style="width: 100% !important;">
			<mat-option style="width: 100% !important;" *ngFor="let provincia of totalProvincias" [value]="provincia.id">
				{{ provincia.nombre }}
			</mat-option>
		</mat-select>
	</mat-form-field>

</div>


<div mat-dialog-actions>
	<button mat-button class="boton-aceptar" (click)="editarComuna()" tabindex="2">Actualizar Comuna<mat-icon>refresh</mat-icon></button>
	<button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
