<div class="example-header" >


    <label for="finder">Buscar por nombre...</label>
    <input id="finder" matInput #filter >

</div>


<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">

              <button *ngIf="usuarioActual.obtenerPermisoUpdate('BoxConsulta')" class="btn" type="button" style="background-color: #009999;" (click) = "edicionBoxConsulta(row)" matTooltip="Editar">
                <i class="fa fa-pencil-square-o icono" aria-hidden="true"></i>
              </button>


              <button *ngIf="usuarioActual.obtenerPermisoErase('BoxConsulta')" class="btn" type="button" style="background-color: #ff3333;" (click) = "eliminarBoxConsulta(row)" matTooltip="Eliminar" >
                <i class="fa fa-trash-o icono" aria-hidden="true"></i>
              </button>

       </mat-cell>
    </ng-container>


    <!-- Progress Column -->
    <ng-container matColumnDef="Ubicacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ubicacion}} </mat-cell>
    </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="TipoBox">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo box </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.TipoBox_id}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="['odd', 'highlight'][row.id %2]"></mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
       No hay registros con dicho nombre.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

 <div class="fixed-action-btn">
		<a class="btn-floating btn-large blue" *ngIf="usuarioActual.obtenerPermisoWrite('BoxConsulta')" (click)="agregacionBoxConsulta()">
			<i class="large material-icons">add</i>
		</a>
	</div>
