<div class="container segment">
 <sui-tabset>
    <div class="ui top attached tabular menu">

        <a class="item" suiTabHeader="1">Pacientes</a>
        <a class="item" suiTabHeader="2">Estado Civil</a>
        <a class="item" suiTabHeader="3">Generos</a>
        <a class="item" suiTabHeader="4">Comunas</a>
        <a class="item" suiTabHeader="5">Provincias</a>
        <a class="item" suiTabHeader="6">Regiones</a>
        <a class="item" suiTabHeader="7">Previsiones</a>
        <a class="item" suiTabHeader="8">Usuarios</a>
        <a class="item" suiTabHeader="9">Roles</a>

    </div>
    <div class="ui bottom attached segment" suiTabContent="1">
      <app-pacientes></app-pacientes>
    </div>

    <div class="ui bottom attached segment" suiTabContent="2">
      <app-estadocivil></app-estadocivil>
    </div>

    <div class="ui bottom attached segment" suiTabContent="3">
      <app-generos></app-generos>
    </div>

    <div class="ui bottom attached segment" suiTabContent="4">
      <app-comunas></app-comunas>
    </div>

    <div class="ui bottom attached segment" suiTabContent="5">
      <app-provincias></app-provincias>
    </div>

    <div class="ui bottom attached segment" suiTabContent="6">
      <app-regiones></app-regiones>
    </div>

    <div class="ui bottom attached segment" suiTabContent="7">
      <app-previsiones></app-previsiones>
    </div>

    <div class="ui bottom attached segment" suiTabContent="8">
      <app-usuarios></app-usuarios>
    </div>

    <div class="ui bottom attached segment" suiTabContent="9">
      <app-roles></app-roles>
    </div>
 </sui-tabset>
</div>

