<mat-tab-group>

  <mat-tab label="Personas" *ngIf="usuarioActual.obtenerExistenciaPermiso('Personas')">
    <app-personas></app-personas>
  </mat-tab>

  <mat-tab label="Pacientes" *ngIf="usuarioActual.obtenerExistenciaPermiso('Pacientes')">
  <!--Este tab para médico será temporal-->
  <app-pacientes></app-pacientes>
  </mat-tab>

  <mat-tab label="Estado Civil" *ngIf="usuarioActual.obtenerExistenciaPermiso('EstadoCivil')">
    <app-estadocivil></app-estadocivil>
  </mat-tab>

  <mat-tab label="Géneros" *ngIf="usuarioActual.obtenerExistenciaPermiso('Generos')">
    <app-generos></app-generos>
  </mat-tab>

  <mat-tab label="Comunas" *ngIf="usuarioActual.obtenerExistenciaPermiso('Comunas')">
    <app-comunas></app-comunas>
  </mat-tab>

  <mat-tab label="Provincias" *ngIf="usuarioActual.obtenerExistenciaPermiso('Provincias')">
    <app-provincias></app-provincias>
  </mat-tab>

  <mat-tab label="Regiones" *ngIf="usuarioActual.obtenerExistenciaPermiso('Regiones')">
    <app-regiones></app-regiones>
  </mat-tab>

  <mat-tab label="Previsiones" *ngIf="usuarioActual.obtenerExistenciaPermiso('Previsiones')">
    <app-previsiones></app-previsiones>
  </mat-tab>

  <mat-tab label="Usuarios" *ngIf="usuarioActual.obtenerExistenciaPermiso('Usuarios')">
    <app-usuarios></app-usuarios>
  </mat-tab>

  <mat-tab label="Roles" *ngIf="usuarioActual.obtenerExistenciaPermiso('Roles')">
    <app-roles></app-roles>
  </mat-tab>

  <mat-tab label="Tipo Sangre" *ngIf="usuarioActual.obtenerExistenciaPermiso('TipoSangre')">
    <app-tiposangre></app-tiposangre>
  </mat-tab>

  <mat-tab label="Paciente" *ngIf="usuarioActual.obtenerExistenciaPermiso('FichaMedica')">
    <app-fichamedica></app-fichamedica>
  </mat-tab>

  <mat-tab label="Médico" *ngIf="usuarioActual.obtenerExistenciaPermiso('Medico')">
    <!--Componente médico (en teoría vería sus pacientes)-->
  </mat-tab>

</mat-tab-group>
