<mat-tab-group>

  <mat-tab label="Personas">
    <app-personas></app-personas>
  </mat-tab>

  <mat-tab label="Pacientes">
  <app-pacientes></app-pacientes>
  </mat-tab>

  <mat-tab label="Estado Civil">
    <app-estadocivil></app-estadocivil>
  </mat-tab>

  <mat-tab label="Géneros">
    <app-generos></app-generos>
  </mat-tab>

  <mat-tab label="Comunas">
    <app-comunas></app-comunas>
  </mat-tab>

  <mat-tab label="Provincias">
    <app-provincias></app-provincias>
  </mat-tab>

  <mat-tab label="Regiones">
    <app-regiones></app-regiones>
  </mat-tab>

  <mat-tab label="Previsiones">
    <app-previsiones></app-previsiones>
  </mat-tab>

  <mat-tab label="Usuarios">
    <app-usuarios></app-usuarios>
  </mat-tab>

  <mat-tab label="Roles">
    <app-roles></app-roles>
  </mat-tab>

  <mat-tab label="Tipo Sangre">
    <app-tiposangre></app-tiposangre>
  </mat-tab>


</mat-tab-group>
