<h1 mat-dialog-title style="text-align: center;">Edición de Alergia</h1>

<div mat-dialog-content>

	<form [formGroup]="editarForm">

	    <mat-form-field class="fullWidth">
	     <input matInput placeholder="Nombre" formControlName="nombre" [(ngModel)]="alergia.nombre" required>
	    </mat-form-field>

	</form>

</div>


<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" [disabled]="!editarForm.valid" (click)="editarAlergia()" tabindex="2">Actualizar Alergia <mat-icon>refresh</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
