<h1 mat-dialog-title style="text-align: center;">Edición de Provincia</h1>

<div mat-dialog-content>

    <mat-form-field class="fullWidth">
     <input matInput placeholder="Nombre" [(ngModel)]="provincia.nombre">
    </mat-form-field>

	<mat-form-field style="width: 100% !important;">
		<mat-select placeholder="Región" [(ngModel)]="provincia.Region_id" style="width: 100% !important;">
			<mat-option style="width: 100% !important;" *ngFor="let region of totalRegiones" [value]="region.id">
				{{ region.nombre }}
			</mat-option>
		</mat-select>
	</mat-form-field>

</div>


<div mat-dialog-actions>
	<button mat-button class="boton-aceptar" (click)="editarProvincia()" tabindex="2">Editar Provincia <mat-icon>refresh</mat-icon> </button>
	<button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
