<h1 mat-dialog-title style="text-align: center;">Edición del box de consulta</h1>

<div mat-dialog-content>

	<form [formGroup]="editarForm">

	    <mat-form-field class="fullWidth">
	     <input matInput placeholder="Ubicación" formControlName="ubicacion" [(ngModel)]="boxConsulta.ubicacion" required>
	    </mat-form-field>

		<mat-form-field style="width: 100% !important;">
			<mat-select placeholder="Tipo box" formControlName="tipoBox" [(ngModel)]="boxConsulta.TipoBox_id" style="width: 100% !important;" required>
				<mat-option style="width: 100% !important;" *ngFor="let tipobox of totalTipoBoxes" [value]="tipobox.id">
					{{ tipobox.nombre }}
				</mat-option>
			</mat-select>
		</mat-form-field>

	</form>

</div>


<div mat-dialog-actions>
	<button mat-button class="boton-aceptar" [disabled]="!editarForm.valid" (click)="editarBoxConsulta()" tabindex="2">Actualizar box <mat-icon>refresh</mat-icon></button>
	<button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
