<mat-horizontal-stepper [linear]="true">

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Información Personal</ng-template>

      <div class="row">

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Rut" formControlName="firstCtrl" required [(ngModel)]="persona.rut" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Primer Nombre" formControlName="firstCtrl" required [(ngModel)]="persona.nombre1" (ngModelChange)="verificarRut()">
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Segundo Nombre" formControlName="firstCtrl" required [(ngModel)]="persona.nombre2" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Primer Apellido" formControlName="firstCtrl" required [(ngModel)]="persona.apellido1" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s6">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Segundo Apellido" formControlName="firstCtrl" required [(ngModel)]="persona.apellido2" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono de Casa" formControlName="firstCtrl" required [(ngModel)]="persona.fono_casa" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono de Trabajo" formControlName="firstCtrl" required [(ngModel)]="persona.fono_trabajo" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono Celular" formControlName="firstCtrl" required [(ngModel)]="persona.movil" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
            <mat-select formControlName="firstCtrl" required placeholder="Género" [(ngModel)]="persona.Genero_id" style="width: 100% !important;">
              <mat-option style="width: 100% !important;" *ngFor="let genero of totalGeneros" [value]="genero.id">
                {{ genero.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
          <mat-select formControlName="firstCtrl" required placeholder="Estado Civil" [(ngModel)]="persona.EstadoCivil_id" style="width: 100% !important;">
            <mat-option style="width: 100% !important;" *ngFor="let ec of totalEstadoCiviles" [value]="ec.id">
            {{ ec.nombre }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field style="width: 100% !important;" *ngIf="mostrarRegiones">
          <mat-select formControlName="firstCtrl" required placeholder="Región" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let region of totalRegiones" [value]="region.id" (click)="regionSeleccionada(region)">
          {{ region.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100% !important;" *ngIf="mostrarProvincias">
          <mat-select formControlName="firstCtrl" required placeholder="Provincia" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let provincia of provinciasMostrar" [value]="provincia.id" (click)="provinciaSeleccionada(provincia)">
          {{ provincia.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100% !important;" *ngIf="mostrarComunas">
          <mat-select formControlName="firstCtrl" required placeholder="Comuna" style="width: 100% !important;" >
          <mat-option style="width: 100% !important;" *ngFor="let comuna of comunasMostrar" [value]="comuna.id" (click)="comunaSeleccionada(comuna)">
          {{ comuna.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <button mat-button matStepperNext style="width: 100%" disabled="{{rutValido}}">Siguiente <mat-icon>arrow_forward</mat-icon> </button>
        </div>

      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Generacion de Usuario</ng-template>

        <p>Un email será enviado a la dirección ingresada, el cual contendrá la contraseña de acceso predeterminada para el usuario, una vez entre con dicha contraseña podrá modificarla desde el sistema.</p>

    <mat-form-field class="fullWidth">
     <input matInput placeholder="Correo electrónico" type="email"  formControlName="secondCtrl" required [(ngModel)]="nuevoUsuario.email" (ngModelChange)="validateEmail(nuevoUsuario.email)">
    </mat-form-field>

      <div class="row">
        <div class="col s6">
          <button mat-button matStepperPrevious style="width: 100%"><mat-icon>arrow_back</mat-icon>Volver</button>
        </div>

        <div class="col s6">
         <button mat-button matStepperNext style="width: 100%" (click)="agregarPersona()" disabled="{{emailValido}}">Registrar <mat-icon>add</mat-icon></button>
        </div>
      </div>
    </form>
  </mat-step>



  <mat-step>
    <ng-template matStepLabel style="text-align: center">Verificación de cuenta</ng-template>

    <div style="text-align: center !important">
          <img src="https://lh3.googleusercontent.com/Vct_XSpNfhherziE-h0mSSpbrJf2jYM1nvPO2PVkcIECnqqUHCf-2-5j8EObefEmS0o7=w300" style="max-width: 300px; max-height: 300px">

          <p>
            Un correo electrónico ha sido enviado a la dirección registrada.
            Una vez confirmes tu cuenta, podrás tener acceso a la página web de la clínica.
          </p>

    </div>

     <div class="row">
          <div class="col s12">
            <button class="boton-aceptar"  mat-button (click)="onNoClick()" style="width: 100%">Cerrar</button>
          </div>
        </div>
  </mat-step>
</mat-horizontal-stepper>