







<mat-horizontal-stepper [linear]="true">


  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">



      <ng-template matStepLabel>Informacion Personal</ng-template>



      <div class="row">

        <div class="col s4">
          <p>Rut</p>
          <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.rut" (ngModelChange)="verificarRut()" >
        </div>

        <div class="col s4">
          <p>Primer Nombre</p>
          <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.nombre1" (ngModelChange)="verificarRut()">
        </div>

        <div class="col s4">
         <p>Segundo Nombre</p>
          <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.nombre2" (ngModelChange)="verificarRut()">
        </div>
      </div>


      <div class="row">
        <div class="col s6">
          <p>Primer Apellido</p>
          <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.apellido1" (ngModelChange)="verificarRut()">
        </div>

        <div class="col s6">
          <p>Segundo Apellido</p>
          <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.apellido2" (ngModelChange)="verificarRut()">
        </div>
      </div>



      <div class="row">
        <div class="col s4">
         <p>Teléfono de Casa</p>
         <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.fono_casa" (ngModelChange)="verificarRut()">
        </div>

        <div class="col s4">
         <p>Teléfono de Trabajo</p>
        <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.fono_trabajo" (ngModelChange)="verificarRut()">
        </div>

        <div class="col s4">
         <p>Celular</p>
         <input formControlName="firstCtrl" required matInput tabindex="1" [(ngModel)]="persona.movil" (ngModelChange)="verificarRut()">
        </div>
      </div>



      <div class="row">
        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
            <mat-select formControlName="firstCtrl" required placeholder="Género" style="width: 100% !important;">
              <mat-option style="width: 100% !important;" *ngFor="let genero of totalGeneros" [value]="genero.id" (click)="generoSeleccionado(genero)">
                {{ genero.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
          <mat-select formControlName="firstCtrl" required placeholder="Estado Civil" style="width: 100% !important;">
            <mat-option style="width: 100% !important;" *ngFor="let ec of totalEstadoCiviles" [value]="ec.id" (click)="ecSeleccionado(ec)">
            {{ ec.nombre }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field style="width: 100% !important;" *ngIf="mostrarRegiones">
          <mat-select formControlName="firstCtrl" required placeholder="Región" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let region of totalRegiones" [value]="region.id" (click)="regionSeleccionada(region)">
          {{ region.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100% !important;" *ngIf="mostrarProvincias">
          <mat-select formControlName="firstCtrl" required placeholder="Provincia" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let provincia of provinciasMostrar" [value]="provincia.id" (click)="provinciaSeleccionada(provincia)">
          {{ provincia.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100% !important;" *ngIf="mostrarComunas">
          <mat-select formControlName="firstCtrl" required placeholder="Comuna" style="width: 100% !important;" >
          <mat-option style="width: 100% !important;" *ngFor="let comuna of comunasMostrar" [value]="comuna.id" (click)="comunaSeleccionada(comuna)">
          {{ comuna.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

        </div>
      </div>



      <div class="row">
        <div class="col s12">
          <button mat-button matStepperNext style="width: 100%" disabled="{{rutValido}}">Siguiente</button>
        </div>



      </div>
    </form>
  </mat-step>





  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Generacion de Usuario</ng-template>



        <p>Un email sera enviado a la direccion ingresada, el cual contendra la constraseña de acceso predeterminada para el usuario, una vez entre con dicha contraseña podra modificarla desde el sistema.</p>

        <label for="">Correo electronico</label>
        <input id="newEmaul" matInput type="email"  formControlName="secondCtrl" required [(ngModel)]="nuevoUsuario.email" (ngModelChange)="validateEmail(nuevoUsuario.email)">


      <div class="row">
        <div class="col s6">
          <button mat-button matStepperPrevious style="width: 100%">Volver</button>
        </div>

        <div class="col s6">
         <button mat-button matStepperNext style="width: 100%" (click)="agregarPersona()" disabled="{{emailValido}}">Registrar</button>
        </div>
      </div>
    </form>
  </mat-step>




  <mat-step>
    <ng-template matStepLabel style="text-align: center">Verificacion de cuenta</ng-template>

    <div style="text-align: center !important">
          <img src="https://lh3.googleusercontent.com/Vct_XSpNfhherziE-h0mSSpbrJf2jYM1nvPO2PVkcIECnqqUHCf-2-5j8EObefEmS0o7=w300" style="max-width: 300px; max-height: 300px">

              <p>
      Un correo electronico ha sido enviado a la direccion registrada.
      Una vez confirmes tu cuenta, podras tener acceso a la pagina web de la clinica.

    </p>

    </div>




     <div class="row">
          <div class="col s12">
            <button mat-button (click)="onNoClick()" style="width: 100%">Cerrar</button>
          </div>
        </div>
  </mat-step>
</mat-horizontal-stepper>
