<div class="ui one column grid">
  <div class="column">
    <table class="ui compact celled definition table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>
          <th>Persona Asociada a la cuenta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
            <tr *ngFor="let usuario of totalUsuarios">
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.password }}</td>
              <td>{{ usuario.Role_id }}</td>
              <td><button (click)="open('verPersona' , usuario)" class="ui primary inverted blue button btnTabla">Ver</button></td>
              <td>
                <button (click)="open('editarUsuario' , usuario)" class="ui primary inverted orange button btnTabla">Editar</button>

                <button (click)="eliminarUsuario(usuario)" class="ui primary inverted red button btnTabla">Eliminar</button>
              </td>
            </tr>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th colspan="5">
            <div (click)="open('nuevoUsuario')" class="ui right floated small primary labeled icon button">
              <i class="add icon"></i> Agregar Usuario
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


  <ng-template let-context let-modal="modal" #modalTemplate>

      <div *ngIf="context.data === 'nuevoUsuario'" class="header">Formulario de Nuevo Usuario</div>
      <div *ngIf="context.data === 'editarUsuario'" class="header">Formulario de Edicion: Usuario {{editarUsuario.email}}</div>


      <div class="content" >
       <div *ngIf="context.data === 'nuevoUsuario'" class="ui one column grid">

              <div class="column">
                <div class="ui input focus inputModal">
                  <input [(ngModel)]="nuevoUsuario.email" type="email" placeholder="Ingrese un correo electronico">
                </div>
              </div>

              <div class="column">
                <div class="ui input focus inputModal">
                  <input [(ngModel)]="nuevoUsuario.password" type="password" placeholder="Ingrese una contraseña">
                </div>
              </div>



                <sui-select class="selection inputModal"
                            [isSearchable]="true"
                            placeholder="Role">

                    <sui-select-option
                    *ngFor="let role of totalRoles"
                    [value]="role.nombre"
                    (click)="roleSeleccionado(role)">
                    </sui-select-option>

                </sui-select>


        </div>


        <div *ngIf="context.data === 'editarUsuario'" class="ui one column grid">

              <div class="column">
                <div class="ui input focus inputModal">
                  <input [(ngModel)]="editarUsuario.email" type="email" placeholder="Ingrese un nombre">
                </div>
              </div>

              <div class="column">
                <div class="ui input focus inputModal">
                  <input [(ngModel)]="editarUsuario.password" type="text" placeholder="Ingrese un nombre">
                </div>
              </div>

                <sui-select class="selection inputModal"
                            [isSearchable]="true"
                            placeholder="Role">

                    <sui-select-option
                    *ngFor="let role of totalRoles"
                    [value]="role.nombre"
                    (click)="editarRoleSeleccionado(role)">
                    </sui-select-option>

                </sui-select>

        </div>

        <div *ngIf="context.data === 'verPersona'" class="ui one column grid">

              <div class="column">

                <div class="row">
                  <div class="column">
                    Rut
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.rut" type="text" >
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">

                <div class="row">
                  <div class="column">
                    Primer Nombre
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.nombre1" type="text" >
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">


                <div class="row">
                  <div class="column">
                    Segundo Nombre
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.nombre2" type="text" >
                    </div>
                  </div>
                </div>



              </div>

              <div class="column">

                <div class="row">
                  <div class="column">
                    Primer Apellido
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.apellido1" type="text" >
                    </div>
                  </div>
                </div>

              </div>



              <div class="column">

                <div class="row">
                  <div class="column">
                    Segundo Apellido
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.apellido2" type="text" >
                    </div>
                  </div>
                </div>

              </div>

              <div class="column">


                <div class="row">
                  <div class="column">
                    Telefono Movil
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.movil" type="text" >
                    </div>
                  </div>
                </div>

              </div>

              <div class="column">


                <div class="row">
                  <div class="column">
                    Telefono Casa
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.fono_trabajo" type="text" >
                    </div>
                  </div>
                </div>

              </div>

              <div class="column">


                <div class="row">
                  <div class="column">
                    Telefono Trabajo
                  </div>
                </div>


                <div class="row">
                  <div class="column">
                    <div class="ui input focus inputModal">
                      <input disabled [(ngModel)]="visualizacionPersona.fono_trabajo" type="text" >
                    </div>
                  </div>
                </div>

              </div>

        </div>

      </div>




      <div class="actions">
          <button class="ui blue button"  (click)="modal.approve('approved')">Aceptar</button>

      </div>

  </ng-template>
