
<div class="row">
  <div class="col s12">
    <h4>Ficha Médica</h4>
  </div>
</div>

<div mat-dialog-content style="height:500px !important;">

<mat-tab-group>
  <mat-tab label="Datos generales">

  <div class="row" style="margin-top: 25px !important;">
  <div class="col s12">
     <table class="striped">
        <thead>
          <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>RUT</th>
              <th>Tipo sangre</th>
          </tr>
        </thead>

        <tbody>
          <tr >
            <td>{{paciente.nombres}}</td>
            <td>{{paciente.apellidos}}</td>
            <td>{{paciente.rut}}</td>
            <td>{{paciente.tipoSangrePaciente}}</td>
            
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col s12">
     <table class="striped">
        <thead>
          <tr>
              <th>Género</th>
              <th>Estado civil</th>
              <th>Fono casa</th>
              <th>Fono trabajo</th>
              <th>Móvil</th>
             

          </tr>
        </thead>

        <tbody>
          <tr >
            <td>{{paciente.generoPaciente}}</td>
            <td>{{paciente.estadoCivilPaciente}}</td>

            <td *ngIf="personaActual.fono_casa!='none'">{{personaActual.fono_casa}}</td>
            <td *ngIf="personaActual.fono_casa=='none'"><span class="letraAlerta">sin registro</span></td>

            <td *ngIf="personaActual.fono_trabajo!='none'">{{personaActual.fono_trabajo}}</td>
            <td *ngIf="personaActual.fono_trabajo=='none'"><span class="letraAlerta">sin registro</span></td>
            
            <td *ngIf="personaActual.movil!='none'">{{personaActual.movil}}</td>
            <td *ngIf="personaActual.movil=='none'"><span class="letraAlerta">sin registro</span></td>
            
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col s12">
     <table class="striped">
        <thead>
          <tr>
              <th>Comuna</th>
              <th>Provincia</th>
              <th>Región</th>
              <th>Previsión</th>
              
             

          </tr>
        </thead>

        <tbody>
          <tr >
            <td>{{paciente.comunaPaciente}}</td>
            <td>{{paciente.provinciaPaciente}}</td>
            <td>{{paciente.regionPaciente}}</td>
            <td *ngIf="existePrevision">{{paciente.previsionPaciente}}</td>
            <td *ngIf="existePrevision==false"><span class="letraAlerta">sin registro</span></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</mat-tab>
<!--Deberá ser un componente a parte-->

<mat-tab label="Alergias comunes">
  <app-ver-alergias-comunes-paciente [paciente]="paciente"></app-ver-alergias-comunes-paciente>
</mat-tab>

<mat-tab label="Enfermedades crónicas">
 <app-ver-enfermedades-cronicas-paciente [paciente]="paciente"></app-ver-enfermedades-cronicas-paciente>
</mat-tab>

<mat-tab label="Hábitos">
 <app-ver-habitos-paciente [paciente]="paciente"></app-ver-habitos-paciente>
</mat-tab>

<mat-tab label="Hábitos sexuales">
 <app-ver-habitos-sexuales-paciente [paciente]="paciente"></app-ver-habitos-sexuales-paciente>
</mat-tab>

<mat-tab label="Medicamentos">
 <app-ver-uso-medicamento [paciente]="paciente"></app-ver-uso-medicamento>
</mat-tab>

<mat-tab label="Vacunas">
 <app-ver-vacunas-paciente [paciente]="paciente"></app-ver-vacunas-paciente>
</mat-tab>

<mat-tab label="Alergias medicamentos">
 <app-ver-alergias-medicamentos-paciente [paciente]="paciente"></app-ver-alergias-medicamentos-paciente>
</mat-tab>

</mat-tab-group>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>