
<div class="row">
  <div class="col s12">
    <h4>Ficha Médica</h4>
  </div>
</div>

<div mat-dialog-content style="height:500px !important;">

<mat-tab-group>
  <mat-tab label="Datos generales">

  <div class="row" style="margin-top: 25px !important;">
  <div class="col s12">
     <table class="striped">
        <thead>
          <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>RUT</th>
              <th>Tipo sangre</th>
              <th>Fecha nacimiento</th>
              <th>Edad</th>
          </tr>
        </thead>

        <tbody>
          <tr >
            <td>{{datosPaciente.nombre1}} {{datosPaciente.nombre2}}</td>
            <td>{{datosPaciente.apellido1}} {{datosPaciente.apellido2}}</td>
            <td>{{datosPaciente.rut}}</td>
            <td>{{datosPaciente.TipoSangre}}</td>
            <td>{{datosPaciente.fechaNacimiento}}</td>
            <td>{{datosPaciente.anho}} año(s) {{datosPaciente.mes}} mes(es) {{datosPaciente.dia}} día(s)</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col s12">
     <table class="striped">
        <thead>
          <tr>
              <th>Género</th>
              <th>Estado civil</th>
              <th>Fono casa</th>
              <th>Fono trabajo</th>
              <th>Móvil</th>
             

          </tr>
        </thead>

        <tbody>
          <tr >
            <td>{{datosPaciente.Genero}}</td>
            <td>{{datosPaciente.EstadoCivil}}</td>

            <td *ngIf="datosPaciente.fono_casa!='none'">{{datosPaciente.fono_casa}}</td>
            <td *ngIf="datosPaciente.fono_casa=='none'"><span class="letraAlerta">sin registro</span></td>

            <td *ngIf="datosPaciente.fono_trabajo!='none'">{{datosPaciente.fono_trabajo}}</td>
            <td *ngIf="datosPaciente.fono_trabajo=='none'"><span class="letraAlerta">sin registro</span></td>
            
            <td *ngIf="datosPaciente.movil!='none'">{{datosPaciente.movil}}</td>
            <td *ngIf="datosPaciente.movil=='none'"><span class="letraAlerta">sin registro</span></td>

            
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col s12">
     <table class="striped">
        <thead>
          <tr>
              <th>Comuna</th>
              <th>Provincia</th>
              <th>Región</th>
              <th>Dirección</th>
              <th>Previsión</th>
              
             

          </tr>
        </thead>

        <tbody>
          <tr >
            <td>{{datosPaciente.Comuna}}</td>
            <td>{{datosPaciente.Provincia}}</td>
            <td>{{datosPaciente.Region}}</td>
            <td>{{datosPaciente.direccion}}</td>
            <td>{{datosPaciente.Prevision}}</td>

            
          </tr>
        </tbody>
      </table>
  </div>
</div>
</mat-tab>
<!--Deberá ser un componente a parte-->

<mat-tab label="Alergias comunes">
  <app-ver-alergias-comunes-paciente [paciente]="paciente"></app-ver-alergias-comunes-paciente>
</mat-tab>

<mat-tab label="Enfermedades crónicas">
 <app-ver-enfermedades-cronicas-paciente [paciente]="paciente"></app-ver-enfermedades-cronicas-paciente>
</mat-tab>

<mat-tab label="Hábitos">
 <app-ver-habitos-paciente [paciente]="paciente"></app-ver-habitos-paciente>
</mat-tab>

<mat-tab label="Hábitos sexuales">
 <app-ver-habitos-sexuales-paciente [paciente]="paciente"></app-ver-habitos-sexuales-paciente>
</mat-tab>

<mat-tab label="Medicamentos">
 <app-ver-uso-medicamento [paciente]="paciente"></app-ver-uso-medicamento>
</mat-tab>

<mat-tab label="Vacunas">
 <app-ver-vacunas-paciente [paciente]="paciente"></app-ver-vacunas-paciente>
</mat-tab>

<mat-tab label="Alergias medicamentos">
 <app-ver-alergias-medicamentos-paciente [paciente]="paciente"></app-ver-alergias-medicamentos-paciente>
</mat-tab>

</mat-tab-group>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1">Aceptar</button>
</div>