

  <div class="row" style="margin-top: 25px !important;height: 375px !important;">

  	 <div class="col s12">


      <table class="striped">
        <thead>
          <tr>
              <th>Alergia</th>
              <th>Estado</th>
              <th>Fecha detección</th>
          </tr>
        </thead>

        <tbody>
          <tr  *ngFor="let alergiaPaciente of arrayAlergiasComunesPaciente">
            <td> {{alergiaPaciente.nombreAlergia}}</td>
            <td>

	              	<mat-checkbox [(ngModel)]="alergiaPaciente.esVerdadero" (ngModelChange)="obtenerFecha(alergiaPaciente)">Posee</mat-checkbox>
					 
            </td>
            <td>
              
                <div *ngIf="alergiaPaciente.esVerdadero">
                
                 <ng-datepicker position='bottom-right' [options]="options" [(ngModel)]="alergiaPaciente.fechaDeteccion" (ngModelChange)="editarAlergiasComunesPaciente()"></ng-datepicker>
               </div>
            </td>
          </tr>
        </tbody>
      </table>


    </div>

  	
    
  </div>




