<div class="example-header" >


    <label for="finder">Buscar por rut...</label>
    <input id="finder" matInput #filter >

</div>


<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">

               <button *ngIf="row.activado === 1 && usuarioActual.obtenerPermisoUpdate('Medico')"  class="btn" type="button" style="background-color: #009999;" (click) = "edicionMedico(row)" >
                <i class="fa fa-pencil-square-o icono" aria-hidden="true"></i>

              </button>

              <button *ngIf="row.activado === 1 && usuarioActual.obtenerPermisoUpdate('Medico')" (click)="desactivarMedico(row)" class="btn" type="button" style="background-color: #ff9900;" >
                <i class="fa fa-ban icono" aria-hidden="true"></i>

              </button>

              <button *ngIf="row.activado === 0 && usuarioActual.obtenerPermisoUpdate('Medico')" (click)="activarMedico(row)" class="btn" type="button" style="background-color: #ff9900;" >
                <i class="fa fa-arrow-up icono" aria-hidden="true"></i>
              </button>


       </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Rut">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rut </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.rut}} </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="Persona">
      <mat-header-cell *matHeaderCellDef> Persona Asociada al Médico </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button  mat-button style="background-color: #00cc00;" (click)="desplegarPersona(row)" >
          <span style="color:white;">Ver datos</span>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Especialidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Especialidad_id}} </mat-cell>
    </ng-container>





    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="['odd', 'highlight'][row.id %2]"></mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
       No hay registros con dicho rut.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>


 <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue" *ngIf="usuarioActual.obtenerPermisoWrite('Medico')" (click)="agregacionMedico()">
      <i class="large material-icons">add</i>
    </a>
  </div>
