<mat-sidenav-container style="height: 1024px">
	<mat-toolbar>
		<button mat-icon-button (click)="sidenav.open()">
			<mat-icon>menu </mat-icon>
		</button>

		<button mat-icon-button [matMenuTriggerFor]="menu" class="rightIcon">
			<mat-icon>more_vert</mat-icon>
		</button>

		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>dialpad</mat-icon>
				<span>Actividad</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>voicemail</mat-icon>
				<span>Editar Perfil</span>
			</button>
			<button mat-menu-item>
				<mat-icon>notifications_off</mat-icon>
				<span>Cerrar Sesion</span>
			</button>
		</mat-menu>

	</mat-toolbar>

	<mat-sidenav #sidenav style="position: fixed; height: 100%">
			<div *ngIf="currentUserRole.nombre === 'Administrador'" >
				<div class="row">
					<div class="section">
						<button (click)="irHomeAdmin()" mat-button class="fullSpaceButton">Home</button>
					</div>
					<div class="section">
						<button (click)="irPacentesAdmin()" mat-button class="fullSpaceButton">Modulo Pacientes</button>
					</div>
					<div class="section">
						<button (click)="irCitasAdmin()" mat-button class="fullSpaceButton">Modulo Citas</button>
					</div>
					<div class="section">
						<button (click)="irAtencionAdmin()" mat-button class="fullSpaceButton">Modulo Atencion</button>
					</div>
				</div>




			</div>

			<div *ngIf="currentUserRole.nombre === 'Paciente'" >
				
				<button (click)="irHomePaciente()" mat-button class="fullSpaceButton">Home</button>

				<button (click)="irFichaPaciente()" mat-button class="fullSpaceButton">Ficha Médica</button>

				<button (click)="irCitasPaciente()" mat-button class="fullSpaceButton">Citas</button>
			</div>

			<div *ngIf="currentUserRole.nombre === 'Medico'" >
				 <button mat-button class="fullSpaceButton">Opciones de Medico</button>
			</div>

		<div *ngIf="currentUserRole.nombre === 'Secretary'" >
				<button (click)="irHomeSecretary()" mat-button class="fullSpaceButton">Home</button>
				<button (click)="irPacientesSecretary()" mat-button class="fullSpaceButton">Personas</button>
		</div>
	</mat-sidenav>

<router-outlet></router-outlet>

</mat-sidenav-container>
