.rightIcon
{
  margin-left: 95%;
}

.fullSpaceButton
{
  width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

/* sidenav */

.sidenavBtn
{
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.sidenavBtn:focus{
   background-color:#d9d9d9 !important;;
  
}

.sidenavBtn:hover{
  background-color:#f2f2f2 !important;
}

.sidenavBtn .icono{
  
}

.bloqueSideNav
{
    position: absolute;
    height: 64px;
    width: 240px;
    /*background-color: #3f51b5;*/
}


.sidenav-mod{
  width: 240px; 
  margin-top: 64px;
  background-color:#19334d !important;
  border-right: 1px solid #19334d;
}


.icono-nav{
  font-size: 15px;
  margin:5px;
  color:white;
  -ms-transform: translate(0px, -2px); /* IE 9 */
  -webkit-transform: translate(0px, -2px); /* Safari */
  transform: translate(0px, -2px);
}

.panel-nav{
  background-color:#264d73 !important;
  /*border-bottom:1px solid #204060;*/
  padding-left: 0px;

}

.panel-nav:hover{
  background-color: #2d5986 !important;

}
/*toolbar*/

.toolbar-act{
   margin-bottom: 10px;
   border-bottom:1px solid #d9d9d9;
   background-color:#2d5986;
   /*background-color: #375877;;*/
}

.toolbar-act .boton-act{
  height: 100%;
}

.boton-act:focus{
  background-color: #254d74;
}

