
  <div class="bloqueSideNav" *ngIf="isLogeado">
    <mat-toolbar color="primary" style="margin-bottom: 10px;" *ngIf="isLogeado">

      <span>Clínica Web</span>

    </mat-toolbar>
  </div>

<mat-sidenav-container >

  <mat-sidenav #sidenav mode="side" opened="true" style="width: 240px; margin-top: 64px" *ngIf="isLogeado">


    <mat-expansion-panel #pacientes (click)="changeMenu(citas,atenciones)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="icono-paciente"></mat-icon>
          <span> Módulo Pacientes</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/per" routerLinkActive="active">Personas</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/pac" routerLinkActive="active">Pacientes</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/ec" routerLinkActive="active">Estado Civil</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/gen" routerLinkActive="active">Generos</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/com" routerLinkActive="active">Comunas</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/pro" routerLinkActive="active">Provincias</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/reg" routerLinkActive="active">Regiones</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/pre" routerLinkActive="active">Previsiones</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/usu" routerLinkActive="active">Usuarios</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/rol" routerLinkActive="active">Roles</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/ts" routerLinkActive="active">Tipo Sangre</button>
        </div>
      </div>
    </mat-expansion-panel>





    <mat-expansion-panel #citas (click)="changeMenu(pacientes,atenciones)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="icono-agenda"></mat-icon>
          <span> Módulo Citas</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/cit" routerLinkActive="active">Citas</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/es" routerLinkActive="active">Estado Citas</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/bc" routerLinkActive="active">Box Consulta</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/med" routerLinkActive="active">Medicos</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/esp" routerLinkActive="active">Especialidad</button>
        </div>
      </div>
    </mat-expansion-panel>






    <mat-expansion-panel #atenciones (click)="changeMenu(pacientes,citas)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="icono-doctor"></mat-icon>
          <span> Módulo Atenciones</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-sidenav>



  <mat-toolbar color="primary" style="margin-bottom: 10px;" *ngIf="isLogeado">
     <span class="example-spacer"></span>

        <button mat-button>
          <mat-icon>dialpad</mat-icon>
          <span>Actividad</span>
        </button>
        <button mat-button>
          <mat-icon svgIcon="icono-editar-perfil"></mat-icon>
          <span>Editar Perfil</span>
        </button>
        <button mat-button (click)="cerrarSesion()">
          <mat-icon svgIcon="icono-logout"></mat-icon>
          <span>Cerrar Sesión</span>
        </button>

  </mat-toolbar>


  <router-outlet></router-outlet>

</mat-sidenav-container>
