.rightIcon
{
  margin-left: 95%;
}

.fullSpaceButton
{
  width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenavBtn
{
  width: 100%;
  text-align: left
}

.bloqueSideNav
{
    position: absolute;
    height: 64px;
    width: 240px;
    background-color: #3f51b5;
}
