
  <div class="bloqueSideNav" *ngIf="isLogeado">
    <mat-toolbar color=primary style="margin-bottom: 10px;background-color:#204060 !important;" *ngIf="isLogeado">

      <span><i class="fa fa-heartbeat" style="margin: 10px;" aria-hidden="true"></i>Clínica Web</span>

    </mat-toolbar>
  </div>

<mat-sidenav-container >

  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav-mod" *ngIf="isLogeado">

    <mat-expansion-panel #pacientes (click)="changeMenu(citas,atenciones)">
      <mat-expansion-panel-header class="panel-nav">
        <mat-panel-title>
          <i class="fa fa-wheelchair icono-nav" aria-hidden="true"></i>
          <span style="color:#d9e6f2"> Módulo Pacientes</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="botones-nav">

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/per" routerLinkActive="active">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span style="margin-left: 8px;">Personas</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/pac" routerLinkActive="active">
            <i class="fa fa-wheelchair" aria-hidden="true"></i>
            <span style="margin-left: 10px;">Pacientes</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/ec" routerLinkActive="active">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            <span style="margin-left: 8px;">Estado Civil</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/gen" routerLinkActive="active">
            <i class="fa fa-venus-mars" aria-hidden="true"></i>
            <span style="margin-left: 8px;">Géneros</span>
          </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/com" routerLinkActive="active">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span style="margin-left: 15px;">Comunas</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/pro" routerLinkActive="active">
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            <span style="margin-left: 15px;">Provincias</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/reg" routerLinkActive="active">
            <i class="fa fa-compass" aria-hidden="true"></i>
            <span style="margin-left: 12px;">Regiones</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/pre" routerLinkActive="active">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <span style="margin-left: 8px;">Previsiones</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/usu" routerLinkActive="active">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span style="margin-left: 10px;">Usuarios</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/rol" routerLinkActive="active">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            <span style="margin-left: 12px;">Roles</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/ts" routerLinkActive="active">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <span style="margin-left: 10px;">Tipo Sangre</span>
        </button>
        </div>


      </div>
    </mat-expansion-panel>



    <mat-expansion-panel #citas (click)="changeMenu(pacientes,atenciones)">
      <mat-expansion-panel-header class="panel-nav">
        <mat-panel-title>
          <i class="fa fa-address-book icono-nav" aria-hidden="true"></i>
          <span style="color:#d9e6f2"> Módulo Citas</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="botones-nav">

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/cit" routerLinkActive="active">
            <i class="fa fa-book icono" aria-hidden="true"></i>
            <span style="margin-left: 9px;">Citas</span>
          </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/es" routerLinkActive="active">
            <i class="fa fa-cubes icono" aria-hidden="true"></i>
            <span style="margin-left: 4px;">Estado Citas</span>
          </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/bc" routerLinkActive="active">
            <i class="fa fa-location-arrow icono" aria-hidden="true"></i>
            <span style="margin-left: 11px;" >Box Consulta</span>
          </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/med" routerLinkActive="active">
            <i class="fa fa-user-md" aria-hidden="true"></i>
            <span style="margin-left: 11px;">Medicos</span>
        </button>
        </div>

        <div class="col s12">
          <button mat-button class="sidenavBtn" routerLink="/esp" routerLinkActive="active">
            <i class="fa fa-medkit" aria-hidden="true"></i>
            <span style="margin-left: 8px;">Especialidad</span>
        </button>
        </div>

      </div>


    </mat-expansion-panel>

    <mat-expansion-panel #atenciones (click)="changeMenu(pacientes,citas)">
      <mat-expansion-panel-header class="panel-nav">
        <mat-panel-title>
          <i class="fa fa-stethoscope icono-nav" aria-hidden="true"></i>
          <span style="color:#d9e6f2 "> Módulo Atenciones</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
<!--
  <span style="position: absolute; bottom: 0;left: 0;color:#d9e6f2;text-align: center;width: 100%;height: 30px;background-color:#204060;">Clínica 2017</span>
-->
  </mat-sidenav>



  <mat-toolbar color="primary" class="toolbar-act" *ngIf="isLogeado">
     <span class="example-spacer"></span>

        <button class="boton-act" mat-button>
          <mat-icon>dialpad</mat-icon>
          <span>Actividad</span>
        </button>
        <button mat-button class="boton-act">
          <mat-icon svgIcon="icono-editar-perfil"></mat-icon>
          <span>Editar Perfil</span>
        </button>
        <button mat-button class="boton-act" (click)="cerrarSesion()">
          <mat-icon svgIcon="icono-logout"></mat-icon>
          <span>Cerrar Sesión</span>
        </button>

  </mat-toolbar>


  <router-outlet></router-outlet>

</mat-sidenav-container>
