.selectRaro
{
  margin-left: 50%;
  margin-top: 31px;
}

.highlight
{
	background: #f2f2f2;
}

.icono-editar
{
	color:white;
	background:#5cd65c;
	padding-top: -1px;
	padding-bottom:-1px;
	padding-left:5px;
	padding-right:5px;
	font-size: 18px;
}

.icono-borrar
{
	color:white;
	background:#ff4d4d;
	padding-top: -1px;
	padding-bottom:-1px;
	padding-left:5px;
	padding-right:5px;
	font-size: 18px;
}

