<h1 mat-dialog-title style="text-align: center;">Edición de Medicamentos en Uso del Paciente</h1>

<div mat-dialog-content style="height: 80%;">


<div class="row">
    <div class="col s12">
      <p>Nombre Paciente</p>
      <span style="font-weight: bold;">
      ({{paciente.rut}}) {{paciente.nombre}}
    </span>
    </div>
  </div>


  <div class="row">

  	 <div class="col s12">


      <table class="striped">
        <thead>
          <tr>
              <th>Medicamento</th>
              <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          <tr  *ngFor="let medicamentoPaciente of arrayMedicamentosPaciente">
            <td> {{medicamentoPaciente.nombreMedicamento}}</td>
            <td>
            <div class="row">

				        <div class="col s3">
	              	<mat-checkbox [(ngModel)]="medicamentoPaciente.esVerdadero" (ngModelChange)="obtenerFecha(medicamentoPaciente)">Utiliza</mat-checkbox>
					 
	              </div>

	              <div class="col s9" *ngIf="medicamentoPaciente.esVerdadero">
					       <p>
    					      <i class="fa fa-calendar" aria-hidden="true"></i>
    					      <span>Fecha inicio del uso del medicamento</span>
					       </p>
					       <ng-datepicker position='bottom-right' [options]="options" [(ngModel)]="medicamentoPaciente.fechaInicio"></ng-datepicker>
					     </div>
				
            
            </div>

            </td>
          </tr>
        </tbody>
      </table>


    </div>

  	
    
  </div>


</div>


<div mat-dialog-actions style="margin-top: 50px !important;">
  <button mat-button class="boton-aceptar" (click)="editarMedicamentosPaciente()" tabindex="2">Actualizar Medicamentos en Uso del Paciente <mat-icon>refresh</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
