<h1 mat-dialog-title style="text-align: center;">Edición de Uso Medicamento</h1>

<div class="row">

	<div class="col s4">
		<mat-form-field class="fullWidth">
			<input matInput placeholder="Fecha Inicio" required [(ngModel)]="usoMedicamento.fechaInicio">
		</mat-form-field>
	</div>

	<div class="col s4">
	 	<mat-form-field style="width: 100% !important;">
			<mat-select  [(ngModel)]="usoMedicamento.Paciente_id" placeholder="Paciente" style="width: 100% !important;" required>
		      <mat-option style="width: 100% !important;" *ngFor="let personaTemp of totalPersonasTemp" [value]="personaTemp.Paciente_id">
		        <span>({{personaTemp.rut}}) {{personaTemp.nombre1}} {{personaTemp.apellido1}}</span>
		      </mat-option>
		    </mat-select>
		</mat-form-field>
	</div>

	<div class="col s4">
		<mat-form-field style="width: 100% !important;">
			<mat-select [(ngModel)]="usoMedicamento.Medicamento_id" placeholder="Medicamento" style="width: 100% !important;" required>
		      <mat-option style="width: 100% !important;" *ngFor="let medicamento of totalMedicamentos" [value]="medicamento.id">
		        {{ medicamento.nombrecomun }}
		      </mat-option>
		    </mat-select>
		</mat-form-field>
	</div>

	
</div>



<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" (click)="editarUsoMedicamento()" tabindex="2">Editar Uso Medicamento</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
