        <table class="striped">
          <thead>
            <tr>
                <th>Dia</th>
                <th>Hora Inicio Atencion</th>
                <th>Hora Termino Atencion</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let hora of horarios">
              <td>{{hora.dia}}</td>
              <td>
                {{ hora.horaInicio}}
              </td>
              <td>
                 {{ hora.horaFin}}
              </td>
            </tr>
          </tbody>
        </table>
