<h1 mat-dialog-title style="text-align: center;">Edición de Ocupación</h1>

<div mat-dialog-content>



    <mat-form-field class="fullWidth">
     <input matInput placeholder="Nombre" [(ngModel)]="ocupacion.nombre">
    </mat-form-field>


</div>


<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" (click)="editarOcupacion()" tabindex="2">Actualizar Ocupación <mat-icon>refresh</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
