<mat-horizontal-stepper [linear]="isLinear">

  <mat-step [stepControl]="firstFormGroup">
<form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Informacion personal</ng-template>

      <div class="row">
        <div class="col s4">

            <label for="rut">Rut</label>
            <input id="rut" matInput formControlName="firstCtrl" required [(ngModel)]="nuevaPersona.rut" (ngModelChange)="buscarRut()"  (keyup.enter)="buscarRut()" >

        </div>

        <div class="col s4">
          <label for="pn">Primer nombre</label>
          <input formControlName="firstCtrl" required id="pn" matInput [(ngModel)]="nuevaPersona.nombre1">
        </div>

        <div class="col s4">
          <label for="sn">Segundo nombre</label>
          <input formControlName="firstCtrl" required id="sn" matInput [(ngModel)]="nuevaPersona.nombre2">
        </div>
      </div>


      <div class="row">

        <div class="col s6">
          <label for="pa">Primer apellido</label>
          <input formControlName="firstCtrl" required id="pa" matInput  [(ngModel)]="nuevaPersona.apellido1">
        </div>

        <div class="col s6">
          <label for="sa">Segundo apellido</label>
          <input formControlName="firstCtrl" required id="sa" matInput  [(ngModel)]="nuevaPersona.apellido2">
        </div>

      </div>

      <div class="row">
        <div class="col s4">
          <label for="rut">Telefono de casa</label>
          <input formControlName="firstCtrl" required id="rut" matInput [(ngModel)]="nuevaPersona.fono_casa">
        </div>

        <div class="col s4">
          <label for="pn">Telefono de trabajo</label>
          <input formControlName="firstCtrl" required  id="pn" matInput [(ngModel)]="nuevaPersona.fono_trabajo">
        </div>

        <div class="col s4">
          <label for="sn">Telefono movil</label>
          <input formControlName="firstCtrl" required  id="sn" matInput  [(ngModel)]="nuevaPersona.movil">
        </div>
      </div>




      <div class="row" >

        <div class="col s6">
          <mat-form-field style="width: 100% !important;">
            <mat-select formControlName="firstCtrl" required placeholder="Género" style="width: 100% !important;">
              <mat-option style="width: 100% !important;" *ngFor="let genero of totalGeneros" [value]="genero.id" (click)="generoSeleccionado(genero)">
                {{ genero.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col s6" >
          <mat-form-field style="width: 100% !important;">
          <mat-select formControlName="firstCtrl" required placeholder="Estado Civil" style="width: 100% !important;">
            <mat-option style="width: 100% !important;" *ngFor="let ec of totalEstadoCiviles" [value]="ec.id" (click)="ecSeleccionado(ec)">
            {{ ec.nombre }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>

      </div>


      <div class="row" >
        <div class="col s12">

          <mat-form-field style="width: 100% !important;" *ngIf="mostrarRegiones">
          <mat-select formControlName="firstCtrl" required placeholder="Región" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let region of totalRegiones" [value]="region.id" (click)="regionSeleccionada(region)">
          {{ region.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>


          <mat-form-field style="width: 100% !important;" *ngIf="mostrarProvincias">
          <mat-select formControlName="firstCtrl" required placeholder="Provincia" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let provincia of provinciasMostrar" [value]="provincia.id" (click)="provinciaSeleccionada(provincia)">
          {{ provincia.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>



          <mat-form-field style="width: 100% !important;" *ngIf="mostrarComunas">
          <mat-select formControlName="firstCtrl" required placeholder="Comuna" style="width: 100% !important;" >
          <mat-option style="width: 100% !important;" *ngFor="let comuna of comunasMostrar" [value]="comuna.id" (click)="comunaSeleccionada(comuna)">
          {{ comuna.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
      <div class="col s12">
         <button disabled="{{puedeSeguir}}" mat-button matStepperNext style="width: 100%">Siguiente<mat-icon>arrow_forward</mat-icon></button>
      </div>

      </div>
</form>

  </mat-step>

















  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Informacion de usuario</ng-template>

      <div class="row">
        <div class="col s6">
          <label for="email">Correo electronico</label>
          <input id="email" matInput type="email" formControlName="secondCtrl" required [(ngModel)]="nuevoUsuario.email" (ngModelChange)="validateEmail(nuevoUsuario.email)" >
        </div>
        <div class="col s6">
          <label for="pass">Contraseña</label>
          <input id="pass" matInput type="password" formControlName="secondCtrl" required [(ngModel)]="nuevoUsuario.password" (ngModelChange)="validateEmail(nuevoUsuario.email)">

        </div>
      </div>




      <div class="row">

        <div class="col s6">
             <button mat-button matStepperPrevious style="width: 100%"><mat-icon>arrow_back</mat-icon>Volver</button>
        </div>
        <div class="col s6">
            <button mat-button matStepperNext style="width: 100%" (click)="agregarPersona()" disabled="{{emailValido}}">Registrarme<mat-icon>add</mat-icon></button>
        </div>

      </div>
    </form>
  </mat-step>









  <mat-step style="text-align: center">
    <ng-template matStepLabel style="text-align: center">Verificacion de cuenta</ng-template>

    <div style="text-align: center !important">
          <img src="https://lh3.googleusercontent.com/Vct_XSpNfhherziE-h0mSSpbrJf2jYM1nvPO2PVkcIECnqqUHCf-2-5j8EObefEmS0o7=w300" style="max-width: 300px; max-height: 300px">

              <p>
      Un correo electronico ha sido enviado a la direccion registrada.
      Una vez confirmes tu cuenta, podras tener acceso a la pagina web de la clinica.

    </p>

    </div>




    <div class="row">
      <div class="col s12">
        <button mat-button (click)="onNoClick()" style="width: 100%">Cerrar</button>
      </div>
    </div>
  </mat-step>


</mat-horizontal-stepper>
