<h1 mat-dialog-title style="text-align: center;">Edición de Género</h1>

<div mat-dialog-content>

    <form [formGroup]="editarForm">

	    <mat-form-field class="fullWidth">
	     <input matInput placeholder="Nombre" formControlName="nombre" [(ngModel)]="genero.nombre">
	    </mat-form-field>

	    <mat-form-field class="fullWidth">
	     <input matInput placeholder="Descripción" formControlName="descripcion" [(ngModel)]="genero.descripcion">
	    </mat-form-field>

	</form>

</div>

<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" [disabled]="!editarForm.valid" (click)="editarGenero()" tabindex="2">Actualizar Género<mat-icon>refresh</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
