<div class="row">
    <div class="col s12">
      <p>Nombre Paciente: </p>
      <span style="font-weight: bold;">
      ({{paciente.rut}}) {{paciente.nombre}}
    </span>
    </div>
  </div>

<div mat-dialog-content style="height: 500px;">
<mat-tab-group>

   <mat-tab label="Hábitos">
    <div class="example-header" >


    <label for="finder">Buscar por hábito...</label>
    <input id="finder" matInput #filter >

</div>


<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort  style="height: 320px !important;">
    
    <ng-container matColumnDef="Habito">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hábito</mat-header-cell>
      <mat-cell *matCellDef="let row"> 

      {{row.nombreHabito}}

      </mat-cell>
    </ng-container>

     <ng-container matColumnDef="Estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        
        <mat-checkbox [(ngModel)]="row.esVerdadero" (ngModelChange)="obtenerFecha(row)">Posee</mat-checkbox>
       
      </mat-cell>
    </ng-container>

     <ng-container matColumnDef="Fecha inicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha inicio</mat-header-cell>
      <mat-cell *matCellDef="let row"> 

         <div *ngIf="row.esVerdadero">
  
            <mat-form-field>

              <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="row.fechaTemp">
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                
            </mat-form-field>
          </div>

      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
       No hay registros con dicho hábito.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

   </mat-tab>

</mat-tab-group>


</div>


<div mat-dialog-actions style="margin-top: 25px !important;">
  <button mat-button class="boton-aceptar" (click)="editarHabitosPaciente()" tabindex="2">Actualizar Hábitos Paciente <mat-icon>refresh</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
