<h1 mat-dialog-title style="text-align: center;">Creación de Role</h1>

<div mat-dialog-content>

  <div class="row">
    <div class="col s12">
      <p>Nombre</p>

      <input matInput tabindex="1" [(ngModel)]="nuevoRole.nombre" required>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table class="striped">
        <thead>
          <tr>
              <th>Funciones</th>
              <th>Permisos</th>
          </tr>
        </thead>

        <tbody>
          <tr  *ngFor="let permiso of totalPM">
            <td> {{permiso.Modulo_id}}</td>
            <td>
            <div class="row">

              <div class="col s3"><mat-checkbox [(ngModel)]="permiso.write">Escritura </mat-checkbox></div>
              <div class="col s3"><mat-checkbox [(ngModel)]="permiso.view" >Lectura</mat-checkbox></div>
              <div class="col s3"><mat-checkbox [(ngModel)]="permiso.update">Edición</mat-checkbox></div>
              <div class="col s3"><mat-checkbox [(ngModel)]="permiso.erase" >Borrado</mat-checkbox></div>
            </div>

            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" [disabled]="!obtenerNombre()" (click)="agregarRole()" tabindex="2">Agregar Role <mat-icon>add</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>