<h1 mat-dialog-title style="text-align: center;">Creación de Role</h1>

<div mat-dialog-content>
  <div class="row">
    <div class="col s12">
      <p>Nombre</p>

      <input matInput tabindex="1" [(ngModel)]="nuevoRole.nombre">
    </div>
  </div>


  <div class="row">
    <div class="col s3" ><mat-checkbox (click) = "cambiarEscritura()">Escritura</mat-checkbox></div>
    <div class="col s3" ><mat-checkbox (click) = "cambiarLectura()">Lectura</mat-checkbox></div>
    <div class="col s3" ><mat-checkbox (click) = "cambiarEdicion()">Edicion</mat-checkbox></div>
    <div class="col s3" ><mat-checkbox (click) = "cambiarBorrado()">Borrado</mat-checkbox></div>

  </div>

</div>


<div mat-dialog-actions>
  <button mat-button (click)="agregarRole()" tabindex="2">Agregar Role</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
