<h1  mat-dialog-title style="text-align: center;">Editar Paciente</h1>

<div mat-dialog-content>

  <p >Tipo Sangre</p>
  <mat-form-field style="width: 100% !important;" >
    <mat-select placeholder="Tipo Sangre" style="width: 100% !important;">
      <mat-option style="width: 100% !important;" *ngFor="let tiposangre of totalTS" [value]="tiposangre.id" (click)="tsSeleccionado(tiposangre)">
        {{ tiposangre.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>


</div>


<div mat-dialog-actions>
  <button *ngIf="!isPersona"  mat-button (click)="editarPaciente()" tabindex="2">Actualizar Paciente</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
