<h1 mat-dialog-title style="text-align: center;">Edición de estado cita</h1>

<div mat-dialog-content>


    <mat-form-field class="fullWidth">
     <input matInput placeholder="Nombre" [(ngModel)]="estadocita.nombre">
    </mat-form-field>

    <mat-form-field class="fullWidth">
     <input matInput placeholder="Descripción" [(ngModel)]="estadocita.descripcion">
    </mat-form-field>
</div>


<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" (click)="editarEstadoCita()" tabindex="2">Editar Estado Cita <mat-icon>refresh</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
