<mat-tab-group>

  <mat-tab label="Citas">
    <app-cita></app-cita>
  </mat-tab>

  <mat-tab label="Estado citas">
  <app-estadocita></app-estadocita>
  </mat-tab>

  <mat-tab label="Box consulta">
    <app-boxconsulta></app-boxconsulta>
  </mat-tab>

  <mat-tab label="Tipo box">
    <app-tipobox></app-tipobox>
  </mat-tab>

  <mat-tab label="Médicos">
    <app-medico></app-medico>
  </mat-tab>

  <mat-tab label="Especialidad">
    <app-especialidad></app-especialidad>
  </mat-tab>
</mat-tab-group>
