<h3 class="title-section">Medicamentos Paciente</h3>

<div class="example-header" >

    <label for="finder">Buscar por fecha...</label>
    <input id="finder" matInput #filter >

</div>

<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Rut Paciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rut Paciente</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.rut}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Medicamentos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Medicamento</mat-header-cell>
      <mat-cell *matCellDef="let row"> 

         <button  mat-button class="boton-datos" *ngIf="usuarioActual.obtenerPermisoUpdate('UsoMedicamento')" (click)="edicionUsoMedicamento(row)" >
          <span style="color:white;">Ver Medicamento</span>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
       No hay registros con dicha fecha.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>