<h1 mat-dialog-title style="text-align: center;">Edición de feriado</h1>

<div mat-dialog-content>

	<div class="col s12">
	    <p>
		    <i class="fa fa-calendar" aria-hidden="true"></i>
		    <span>Fecha</span>
	    </p>
	    <ng-datepicker position='bottom-right' isOpened=true [options]="options" [(ngModel)]="feriado.dia"></ng-datepicker>
	</div>

    <mat-form-field class="fullWidth">
     <input matInput placeholder="Descripción" [(ngModel)]="feriado.descripcion">
    </mat-form-field>

</div>


<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" (click)="editarFeriado()" tabindex="2">Editar feriado <mat-icon>add</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
