<h1 *ngIf="!isPersona" mat-dialog-title style="text-align: center;">Agregar Usuario</h1>
<h1 *ngIf="isPersona" mat-dialog-title style="text-align: center;">Usuario de: {{ persona.nombre1 }} {{persona.apellido1}}</h1>

<div mat-dialog-content>

  <form [formGroup]="agregarForm">

  <div class="row">
    <div class="col s12">
      <p>La contraseña del usuario es autogenerada, y se le informará al correo electrónico. Así mismo, este debe activar su cuenta mediante un enlace de activación que será enviado en el mismo correo.</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mat-form-field class="fullWidth">
       <input matInput placeholder="Email" required formControlName="email" [(ngModel)]="usuario.email" (ngModelChange)="validateEmail(usuario.email)">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col s12">      
      <mat-form-field style="width: 100% !important;">
        <mat-select placeholder="Rol de usuario" required formControlName="rol" [(ngModel)]="usuario.Role_id" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let role of totalRoles" [value]="role.id">
            {{ role.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

	<mat-form-field style="width: 100% !important;">
		<input matInput placeholder="Seleccione una Persona para asociar al Usuario" [matAutocomplete]="auto" required formControlName="personaAsociada" style="width: 100% !important;">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let persona of filteredPersonas | async" [value]="persona.rut" (onSelectionChange)="usuario.Persona_id = persona.id">
            ( {{ persona.rut }} ) {{persona.nombre1 }} {{persona.apellido1}}
          </mat-option>
        </mat-autocomplete>
	</mat-form-field>

</form>

</div>

  <div class="row">
    <div class="col s6">
      <button class="boton-aceptar" mat-button [disabled]="emailValido && !agregarForm.valid" (click)="agregarUsuario()" style="width: 100%">Agregar Usuario <mat-icon>add</mat-icon></button>
    </div>
    <div class="col s6">
     <button mat-button (click)="onNoClick()" style="width: 100%" tabindex="-1">Cancelar</button>
    </div>
  </div>