<h1 mat-dialog-title style="text-align: center;">Creación de Tipo de Sangre</h1>

<div mat-dialog-content>

    <mat-form-field class="fullWidth">
     <input matInput placeholder="Nombre" [(ngModel)]="nuevoTS.nombre">
    </mat-form-field>

    <mat-form-field class="fullWidth">
     <input matInput placeholder="Descripción" [(ngModel)]="nuevoTS.descripcion">
    </mat-form-field>


</div>


<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" (click)="agregarTS()" tabindex="2">Agregar Tipo Sangre <mat-icon>add</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
