<h1  mat-dialog-title style="text-align: center;">Agregar Paciente</h1>

<div mat-dialog-content>

 <form [formGroup]="editarForm">

	<div class="row">
		<div class="col s6">
			<p >Tipo Sangre</p>
			<mat-form-field style="width: 100% !important;" >
				<mat-select placeholder="Tipo Sangre" required formControlName="tipoSangre" [(ngModel)]="paciente.TipoSangre_id" style="width: 100% !important;">
					<mat-option style="width: 100% !important;" *ngFor="let tiposangre of totalTS" [value]="tiposangre.id">
						{{ tiposangre.nombre }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="col s6">
			<p >Persona Asociada</p>

			<mat-form-field style="width: 100% !important;">
				<input matInput placeholder="Seleccione una Persona para asociar al Paciente" [matAutocomplete]="auto" required formControlName="personaAsociada" style="width: 100% !important;">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let persona of filteredPersonas | async" [value]="persona.rut" (onSelectionChange)="paciente.Persona_id = persona.id">
						( {{ persona.rut }} ) {{persona.nombre1 }} {{persona.apellido1}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

		</div>
	</div>

	<div class="row">
		<div class="col s6">
			<p >Grupo Étnico</p>
			<mat-form-field style="width: 100% !important;" >
				<mat-select placeholder="Seleccione un Grupo Étnico" required formControlName="grupoEtnico" [(ngModel)]="paciente.GrupoEtnico_id" style="width: 100% !important;">
					<mat-option style="width: 100% !important;" *ngFor="let grupoEtnico of totalGruposEtnicos" [value]="grupoEtnico.id">
						{{ grupoEtnico.nombre }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="col s6">
			<p>Ocupación</p>
			<mat-form-field style="width: 100% !important;" >
				<mat-select placeholder="Seleccione una Ocupación" required formControlName="ocupacion" [(ngModel)]="paciente.Ocupacion_id" style="width: 100% !important;">
					<mat-option style="width: 100% !important;" *ngFor="let ocupacion of totalOcupaciones" [value]="ocupacion.id">
						{{ocupacion.nombre}}
					</mat-option>
				</mat-select>
			</mat-form-field>

		</div>
	</div>
</form>
</div>

<div mat-dialog-actions>
	<button *ngIf="!isPersona" class="boton-aceptar" mat-button [disabled]="!editarForm.valid" (click)="agregarPaciente()" tabindex="2">Agregar Paciente <mat-icon>add</mat-icon></button>
	<button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>