<h1 mat-dialog-title style="text-align: center;">Persona asociada a la cuenta</h1>

<div mat-dialog-content>

      <div class="row">

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Rut"  required [(ngModel)]="persona.rut">
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Primer Nombre"  required [(ngModel)]="persona.nombre1">
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Segundo Nombre"  required [(ngModel)]="persona.nombre2">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Primer Apellido"  required [(ngModel)]="persona.apellido1">
          </mat-form-field>
        </div>

        <div class="col s3">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Segundo Apellido" [(ngModel)]="persona.apellido2">
          </mat-form-field>
        </div>

         <div class="col s3">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Fecha Nacimiento" [(ngModel)]="persona.fechaNacimiento" >
          </mat-form-field>
        </div>

         <div class="col s3">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Dirección" [(ngModel)]="persona.direccion">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Teléfono de Casa" [(ngModel)]="persona.fono_casa">
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Teléfono de Trabajo" [(ngModel)]="persona.fono_trabajo">
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input disabled matInput placeholder="Teléfono Celular"  [(ngModel)]="persona.movil">
          </mat-form-field>
        </div>
      </div>

</div>

<div mat-dialog-actions >
  <div class="row" style="text-align: center;">
    <div class="col s12">
      <button class="boton-aceptar" mat-button (click)="onNoClick()" tabindex="-1">Aceptar</button>
    </div>
  </div>
</div>