<h1 mat-dialog-title style="text-align: center;">Edición Persona: {{persona.rut}}</h1>

<div mat-dialog-content style="height:430px !important;">
  <form [formGroup]="editarForm">

      <div class="row">

        <div class="col s3">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Rut" required formControlName="rut" [(ngModel)]="persona.rut" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>


         <div class="col s3">
          <mat-form-field class="fullWidth">
            <input matInput [matDatepicker]="dp3" placeholder="Elegir fecha de nacimiento" [formControl]="date" required>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col s3">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Primer Nombre" required formControlName="primerNombre" [(ngModel)]="persona.nombre1" (ngModelChange)="verificarRut()">
          </mat-form-field>
        </div>

        <div class="col s3">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Segundo Nombre" formControlName="segundoNombre" required [(ngModel)]="persona.nombre2" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Primer Apellido" formControlName="primerApellido" required [(ngModel)]="persona.apellido1" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Segundo Apellido" formControlName="segundoApellido" required [(ngModel)]="persona.apellido2" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Dirección" formControlName="direccion" required [(ngModel)]="persona.direccion">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono de Casa" formControlName="fonoCasa" required [(ngModel)]="persona.fono_casa" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono de Trabajo" formControlName="fonoTrabajo" required [(ngModel)]="persona.fono_trabajo" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono Celular" formControlName="fonoMovil" required [(ngModel)]="persona.movil" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <mat-form-field style="width: 100% !important;">
            <mat-select  required placeholder="Género"  formControlName="genero" [(ngModel)]="persona.Genero_id" style="width: 100% !important;">
              <mat-option style="width: 100% !important;" *ngFor="let genero of totalGeneros" [value]="genero.id">
                {{ genero.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col s6">
          <mat-form-field style="width: 100% !important;">
          <mat-select  required placeholder="Estado Civil" formControlName="estadoCivil" [(ngModel)]="persona.EstadoCivil_id" style="width: 100% !important;">
            <mat-option style="width: 100% !important;" *ngFor="let ec of totalEstadoCiviles" [value]="ec.id">
            {{ ec.nombre }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>
      </div>
    

      <div class="row">
        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
            <mat-select  required placeholder="Región" style="width: 100% !important;" formControlName="region">
              <mat-option style="width: 100% !important;" *ngFor="let region of totalRegiones" [value]="region.id" (click)="regionSeleccionada(region)">
              {{ region.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
            <mat-select  required placeholder="Provincia" style="width: 100% !important;" formControlName="provincia">
              
                <mat-option style="width: 100% !important;" *ngFor="let provincia of provinciasMostrar" [value]="provincia.id" (click)="provinciaSeleccionada(provincia)">
                {{ provincia.nombre }}
                </mat-option>
              
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
            <mat-select  required placeholder="Comuna" style="width: 100% !important;" formControlName="comuna">

                <mat-option  style="width: 100% !important;" *ngFor="let comuna of comunasMostrar" [value]="comuna.id" (click)="comunaSeleccionada(comuna)">
                {{ comuna.nombre }}
                </mat-option>
       
            </mat-select>
            
          </mat-form-field>
        </div>
        
      </div>
    </form>
</div>


<div mat-dialog-actions style="margin-top: 25px !important;">
	<button mat-button class="boton-aceptar" [disabled]="!editarForm.valid" (click)="actualizarPersona()" tabindex="2">Actualizar Persona <mat-icon>refresh</mat-icon></button>
	<button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>