<h1 mat-dialog-title style="text-align: center;">Edición Persona: {{persona.rut}}</h1>

<div mat-dialog-content>

      <div class="row">

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Rut"  required [(ngModel)]="persona.rut" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Primer Nombre"  required [(ngModel)]="persona.nombre1" (ngModelChange)="verificarRut()">
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Segundo Nombre"  required [(ngModel)]="persona.nombre2" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col s6">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Primer Apellido"  required [(ngModel)]="persona.apellido1" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s6">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Segundo Apellido"  required [(ngModel)]="persona.apellido2" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>



      <div class="row">
        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono de Casa"  required [(ngModel)]="persona.fono_casa" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono de Trabajo"  required [(ngModel)]="persona.fono_trabajo" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field class="fullWidth">
           <input matInput placeholder="Teléfono Celular"  required [(ngModel)]="persona.movil" (ngModelChange)="verificarRut()" >
          </mat-form-field>
        </div>
      </div>



      <div class="row">
        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
            <mat-select  required placeholder="Género" [(ngModel)]="persona.Genero_id" style="width: 100% !important;">
              <mat-option style="width: 100% !important;" *ngFor="let genero of totalGeneros" [value]="genero.id">
                {{ genero.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field style="width: 100% !important;">
          <mat-select  required placeholder="Estado Civil" [(ngModel)]="persona.EstadoCivil_id" style="width: 100% !important;">
            <mat-option style="width: 100% !important;" *ngFor="let ec of totalEstadoCiviles" [value]="ec.id">
            {{ ec.nombre }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>

        <div class="col s4">
          <mat-form-field style="width: 100% !important;" *ngIf="mostrarRegiones">
          <mat-select  required placeholder="Región" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let region of totalRegiones" [value]="region.id" (click)="regionSeleccionada(region)">
          {{ region.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100% !important;" *ngIf="mostrarProvincias">
          <mat-select  required placeholder="Provincia" style="width: 100% !important;">
          <mat-option style="width: 100% !important;" *ngFor="let provincia of provinciasMostrar" [value]="provincia.id" (click)="provinciaSeleccionada(provincia)">
          {{ provincia.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100% !important;" *ngIf="mostrarComunas">
          <mat-select  required placeholder="Comuna" style="width: 100% !important;" >
          <mat-option style="width: 100% !important;" *ngFor="let comuna of comunasMostrar" [value]="comuna.id" (click)="comunaSeleccionada(comuna)">
          {{ comuna.nombre }}
          </mat-option>
          </mat-select>
          </mat-form-field>

        </div>
      </div>

</div>


<div mat-dialog-actions>
	<button mat-button  class="boton-aceptar" (click)="actualizarPersona()" tabindex="2">Actualizar Persona <mat-icon>refresh</mat-icon></button>
	<button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
