<h1 mat-dialog-title style="text-align: center;">Edición de Hábitos Sexuales Paciente</h1>

<div mat-dialog-content style="height: 500px !important;">


<div class="row">
    <div class="col s12">
      <p>Nombre Paciente</p>
      <span style="font-weight: bold;">
      ({{paciente.rut}}) {{paciente.nombre}}
    </span>
    </div>
  </div>


  <div class="row">

  	 <div class="col s12">


      <table class="striped">
        <thead>
          <tr>
              <th>Hábito Sexual</th>
              <th>Estado</th>
              <th>Fecha inicio</th>
          </tr>
        </thead>

        <tbody>
          <tr  *ngFor="let habsPaciente of arrayHabitosSexualesPaciente">
            <td> {{habsPaciente.nombreHabito}}</td>
            <td>
	              	<mat-checkbox [(ngModel)]="habsPaciente.esVerdadero" (ngModelChange)="obtenerFecha(habsPaciente)">Posee</mat-checkbox>
					 
            </td>
            
            <td>
              
                <div *ngIf="habsPaciente.esVerdadero">
               
                 <ng-datepicker position='bottom-right' [options]="options" [(ngModel)]="habsPaciente.fechaInicio"></ng-datepicker>
               </div>

            </td>

          </tr>
        </tbody>
      </table>


    </div>

  	
    
  </div>


</div>


<div mat-dialog-actions style="margin-top: 50px !important;">
  <button mat-button class="boton-aceptar" (click)="editarHabitosSexualesPaciente()" tabindex="2">Actualizar Hábitos Sexuales Paciente <mat-icon>refresh</mat-icon></button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
