<div class="example-header" >


    <label for="finder">Buscar por rut...</label>
    <input id="finder" matInput #filter >

</div>


<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">

             <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoUpdate('Personas')"  mat-icon-button (click) = "editarPersona(row)" >
                <mat-icon svgIcon="icono-editar"></mat-icon>
              </button>

              <button *ngIf="row.estado === 0 && usuarioActual.obtenerPermisoUpdate('Personas')" (click)="activarPaciente(row)" mat-icon-button  >
                <mat-icon>arrow_upward</mat-icon>
              </button>

              <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoUpdate('Personas')" (click)="desactivarPaciente(row)" mat-icon-button >
                <mat-icon svgIcon="icono-desactivar"></mat-icon>
              </button>

              <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoUpdate('Personas')" mat-icon-button (click) = "previsionPersona(row)" >
                <mat-icon svgIcon="icono-prevision"></mat-icon>
              </button>

              <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoWrite('Personas')" mat-icon-button (click) = "agregarUsuario(row)" >
                <mat-icon svgIcon="icono-agregar"></mat-icon>
              </button>

       </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Rut">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rut </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.rut}} </mat-cell>
    </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Nombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombre1}} {{row.nombre2}} {{row.apellido1}} {{row.apellido2}}</mat-cell>
  </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Telefonos" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfonos</mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.fono_casa}} <br> {{row.fono_trabajo}} <br>  {{row.movil}}</mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Sexo" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Género </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.Genero_id}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Estado Civil" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.EstadoCivil_id}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Comuna" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Comuna </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.Comuna_id}} </mat-cell>
    </ng-container>





    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="['odd', 'highlight'][row.id %2]"></mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
       No hay registros con dicho rut.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue"*ngIf="usuarioActual.obtenerPermisoWrite('Personas')" (click)="crearPersona()">
      <i class="large material-icons">add</i>
    </a>
  </div>
