<h3 class="title-section">Personas</h3>

<div class="example-header" >


    <label for="finder">Buscar por rut...</label>
    <input id="finder" matInput #filter >

</div>


<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthButtonsClass'"> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'customWidthButtonsClass'">

             <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoUpdate('Personas')" class="btn boton-editar" type="button" (click) = "editarPersona(row)" matTooltip="Editar" >
                <i class="fa fa-pencil-square-o icono" aria-hidden="true"></i>
              </button>

              <button *ngIf="row.estado === 0 && usuarioActual.obtenerPermisoUpdate('Personas')" (click)="activarPaciente(row)" class="btn boton-activar" type="button" matTooltip="Activar"  >
                <i class="fa fa-arrow-up icono" aria-hidden="true"></i>
              </button>

              <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoUpdate('Personas')" (click)="desactivarPaciente(row)" class="btn boton-desactivar" type="button" matTooltip="Desactivar">
                <i class="fa fa-ban icono" aria-hidden="true"></i>
              </button>

              <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoUpdate('Personas')" (click) = "previsionPersona(row)" class="btn boton-prevision" type="button" matTooltip="Ver previsión">
                <i class="fa fa-life-ring icono-grande" aria-hidden="true"></i>
              </button>

              <button *ngIf="row.estado === 1 && usuarioActual.obtenerPermisoWrite('Personas')" (click) = "agregarUsuario(row)" class="btn boton-usuario" type="button" matTooltip="Agregar/ver usuario">
                <i class="fa fa-user-o icono" aria-hidden="true"></i>
              </button>

       </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Rut">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'"> Rut </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row.rut}} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="Nombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombre1}} {{row.nombre2}} {{row.apellido1}} {{row.apellido2}}</mat-cell>
  </ng-container>

    <ng-container matColumnDef="Telefonos" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfonos</mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.fono_casa}} <br> {{row.fono_trabajo}} <br>  {{row.movil}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Sexo" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Género </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.Genero_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Estado Civil" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.EstadoCivil_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Comuna" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Comuna </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.Comuna_id}} </mat-cell>
    </ng-container>

     <ng-container matColumnDef="Fecha Nacimiento" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.fechaNacimiento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Direccion" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.direccion}} </mat-cell>
    </ng-container>
    


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
       No hay registros con dicho rut.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large boton-agregar"*ngIf="usuarioActual.obtenerPermisoWrite('Personas')" (click)="crearPersona()">
      <i class="large material-icons">add</i>
    </a>
  </div>
