<h1 mat-dialog-title style="text-align: center;">Edición de Usuario</h1>

<div mat-dialog-content>

  <p>Email</p>

  <input matInput tabindex="1" [(ngModel)]="usuario.email" (ngModelChange)="validateEmail(usuario.email)">

  <p>Password</p>

  <input type="password" matInput tabindex="1" [(ngModel)]="usuario.password">



  <p>Role</p>
  <mat-form-field style="width: 100% !important;">
    <mat-select placeholder="Role" style="width: 100% !important;">
      <mat-option style="width: 100% !important;" *ngFor="let role of totalRoles" [value]="role.id" (click)="roleSeleccionado(role)">
        {{ role.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>


<div mat-dialog-actions>
  <button mat-button (click)="editarRole()" disabled="{{emailValido}}" tabindex="2">Editar Usuario</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
