<h3 class="title-section">Pacientes</h3>
<div class="example-header" >


    <label for="finder">Buscar por rut...</label>
    <input id="finder" matInput #filter >

</div>


<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">

               <button *ngIf="row.activado === 1 && usuarioActual.obtenerPermisoUpdate('Pacientes')"  class="btn boton-editar" type="button" (click) = "edicionPaciente(row)"  matTooltip="Editar">
                 <i class="fa fa-pencil-square-o icono" aria-hidden="true"></i>
              </button>

              <button *ngIf="row.activado === 1 && usuarioActual.obtenerPermisoUpdate('Pacientes')" (click)="desactivarPaciente(row)" class="btn boton-desactivar" type="button" matTooltip="Desactivar" >
                <i class="fa fa-ban icono" aria-hidden="true"></i>

              </button>

              <!--Aqui se llamará a la función de la ficha-->
              <button *ngIf="row.activado === 1" (click) = "desplegarFichaPaciente(row)" class="btn boton-ficha" type="button" matTooltip="Ver ficha" >
                <i class="fa fa-address-book-o icono" aria-hidden="true"></i>
              </button>

              <button *ngIf="row.activado === 0 && usuarioActual.obtenerPermisoUpdate('Pacientes')" (click)="activarPaciente(row)" class="btn boton-activar" type="button" matTooltip="Activar">
                <i class="fa fa-arrow-up icono" aria-hidden="true"></i>
              </button>


       </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Rut">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rut </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.rut}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Persona">
      <mat-header-cell *matHeaderCellDef> Persona Asociada al Paciente </mat-header-cell>
      <mat-cell *matCellDef="let row">

        <button  mat-button class="boton-datos" (click)="desplegarPersona(row)" >
          <span style="color:white;">Ver datos</span>
        </button>

      </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Tipo Sangre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Sangre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.TipoSangre_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Ocupacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ocupación </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Ocupacion_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Grupo Etnico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Grupo Étnico </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.GrupoEtnico_id}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
       No hay registros con dicho rut.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large boton-agregar" *ngIf="usuarioActual.obtenerPermisoWrite('Pacientes')" (click)="agregacionPaciente()">
      <i class="large material-icons">add</i>
    </a>
  </div>
