
<div class="row">
  <div class="col s1" >
    <input (click)="cambiarBusqueda()" type="checkbox" id="test5" />
    <label for="test5" class="selectRaro"></label>

  </div>
  <div class="col s11">
    <label for="miinput">Busqueda por Rut</label>
    <input matInput #filter style="width: 100% !important;" id="miinput">
  </div>
</div>


<div class="example-container mat-elevation-z8">

	<mat-table #table *ngIf="!buscarPorRut" [dataSource]="dataSource">

		<ng-container matColumnDef="Acciones">
			<mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>

			<mat-cell *matCellDef="let row">
				<div class="row">
						<div class="col s6">
							<button mat-icon-button (click) = "editarPersona(row)" >
								<mat-icon>create</mat-icon>
							</button>
						</div>
						<div class="col s6">
							<button mat-icon-button (click) = "previsionPersona(row)" >
								<mat-icon>healing</mat-icon>
							</button>
						</div>
				</div>
			</mat-cell>


		</ng-container>

		<!-- Progress Column -->
		<ng-container matColumnDef="Rut">
			<mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.rut}} </mat-cell>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="Primer Nombre">
			<mat-header-cell *matHeaderCellDef> Primer Nombre </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.nombre1}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Segundo Nombre">
			<mat-header-cell *matHeaderCellDef> Segundo Nombre </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.nombre2}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Primer Apellido">
			<mat-header-cell *matHeaderCellDef> Primer Apellido </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.apellido1}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Segundo Apellido">
			<mat-header-cell *matHeaderCellDef> Segundo Apellido </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.apellido2}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Telefono de Casa">
			<mat-header-cell *matHeaderCellDef> Telefono de Casa </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.fono_casa}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Telefono de Trabajo">
			<mat-header-cell *matHeaderCellDef> Telefono de Trabajo </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.fono_trabajo}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Celular">
			<mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.movil}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Sexo">
			<mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.Genero_id}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Estado Civil">
			<mat-header-cell *matHeaderCellDef> Estado Civil </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.EstadoCivil_id}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Comuna">
			<mat-header-cell *matHeaderCellDef> Comuna </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.Comuna_id}} </mat-cell>
		</ng-container>



		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>


 <mat-table #table *ngIf="buscarPorRut" [dataSource]="dataSource2">

		<ng-container matColumnDef="Acciones">
			<mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
			<mat-cell *matCellDef="let row">
				<div class="row">
					<div class="col s6">
						<button mat-icon-button class="rightIcon">
							<mat-icon>create</mat-icon>
						</button>
					</div>
					<div class="col s6">
						<button mat-icon-button class="rightIcon">
							<mat-icon>healing</mat-icon>
						</button>
					</div>
				</div>

			 </mat-cell>
		</ng-container>

		<!-- Progress Column -->
		<ng-container matColumnDef="Rut">
			<mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.rut}} </mat-cell>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="Primer Nombre">
			<mat-header-cell *matHeaderCellDef> Primer Nombre </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.nombre1}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Segundo Nombre">
			<mat-header-cell *matHeaderCellDef> Segundo Nombre </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.nombre2}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Primer Apellido">
			<mat-header-cell *matHeaderCellDef> Primer Apellido </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.apellido1}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Segundo Apellido">
			<mat-header-cell *matHeaderCellDef> Segundo Apellido </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.apellido2}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Telefono de Casa">
			<mat-header-cell *matHeaderCellDef> Telefono de Casa </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.fono_casa}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Telefono de Trabajo">
			<mat-header-cell *matHeaderCellDef> Telefono de Trabajo </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.fono_trabajo}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Celular">
			<mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.movil}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Sexo">
			<mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.Genero_id}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Estado Civil">
			<mat-header-cell *matHeaderCellDef> Estado Civil </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.EstadoCivil_id}} </mat-cell>
		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="Comuna">
			<mat-header-cell *matHeaderCellDef> Comuna </mat-header-cell>
			<mat-cell *matCellDef="let row" > {{row.Comuna_id}} </mat-cell>
		</ng-container>



		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>




	<mat-paginator #paginator
								[length]="totalPacientes.length"
								[pageIndex]="0"
								[pageSize]="5"
								[pageSizeOptions]="[5, 10, 25, 100]">
	</mat-paginator>
</div>

 <div class="fixed-action-btn">
		<a class="btn-floating btn-large blue" (click)="crearPersona()">
			<i class="large material-icons">add</i>
		</a>
	</div>
